body{
    background-color: #B5F4FF;
}
h1{
    font-family: Helvetica;
}
header{
    border: 10px;
    background-color: #007bff
}
a:hover{
    color: white;
    text-decoration: none;
}
#contenido{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}
img{
    margin: auto;
    display: inline-block;
}
footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}